{% extends "base.html" %} {% block content %}

<div class="text-center alert alert-primary">IRA Text Classifier</div>

<div class="container mx-auto">
  <form action="/" method="POST">
    <div class="form-row text-center">
      <div class="col">
        Enter a text

        <input type="text" class="form-control" name="text" />
      </div>

      <button
        class="btn btn-block btn-primary text-center mx-auto"
        style="margin-top: 1em"
      >
        Check
      </button>
    </div>
  </form>
</div>

{% if conclusion %}
<div
  class="card text-center my-3 w-50 mx-auto alert-primary"
  style="width: 18rem;"
>
  <div class="card-body">
    <p class="card-text">{{ conclusion }}</p>
  </div>
  {% endif %} {% endblock %}
</div>
