{% extends "base.html" %} {% block content %}

<div class="text-center alert alert-primary">IRA Text Classifier</div>

<div class="container mx-auto">
  <form action="/" method="POST">
    <div class="form-row text-center">
      <div class="col">
        <div class="form-group">
          <label for="textarea"
            >Enter a text (we recommend the minimum length of 43 words and the
            maximum length of 420 words)</label
          >
          <textarea class="form-control" name="textarea" rows="3"></textarea>
        </div>
      </div>

      <button
        class="btn btn-block btn-primary text-center mx-auto"
        style="margin-top: 1em"
      >
        Check
      </button>
    </div>
  </form>
</div>

{% if conclusion %}
<div
  class="card text-center my-3 w-50 mx-auto alert-primary"
  style="width: 18rem;"
>
  <div class="card-body">
    <p class="card-text">{{ conclusion }}</p>
  </div>
  {% endif %}
</div>

<br />

<div class="container">
  <p class="text-right">
    The original code and the machine learning model available at
    <a href="https://github.com/oniani/ira-analysis"
      >https://github.com/oniani/ira-analysis</a
    >.
  </p>
</div>
{% endblock %}
